<h1>Grid Layout</h1>

<section class="grid1">
    <div>
        <img src="../images/prato01.jpg">
        <p>Legenda</p>
    </div>
    <div>
        <img src="../images/prato02.jpg">
        <p>Legenda</p>
    </div>
    <div>
        <img src="../images/prato03.jpg">
        <p>Legenda</p>
    </div>
    <div>
        <img src="../images/prato02.jpg">
        <p>Legenda</p>
    </div>
    <div>
        <img src="../images/prato01.jpg">
        <p>Legenda</p>
    </div>
    <div>
        <img src="../images/prato03.jpg">
        <p>Legenda</p>
    </div>
    <div>
        <img src="../images/prato01.jpg">
        <p>Legenda</p>
    </div>
    <div>
        <img src="../images/prato03.jpg">
        <p>Legenda</p>
    </div>
    <div>
        <img src="../images/prato02.jpg">
        <p>Legenda</p>
    </div>
    <div class="notice">
        <img src="../images/prato01.jpg">
        <p>Notice</p>
    </div>

</section>