<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/general_style.css">
    <link rel="stylesheet" href="../styles/second_style.css">
    <title>Css Exercise</title>
</head>
<body>
    <header class="header">
        <a href="../views/index.html">Flexbox</a>

        <nav>
            <ul class="menu">
                <li><a href="../views/second.html">Grid Layout</a></li>
                <li><a href="../views/third.html">Grid/Flex</a></li>
                <li><a href="../views/forth.html">Grid Layout</a></li>
            </ul>
        </nav>

    </header>

    <h1>Grid Layout</h1>

    <section class="grid1">
        <div>
            <img src="../images/prato01.jpg">
            <p>Legenda</p>
        </div>
        <div>
            <img src="../images/prato02.jpg">
            <p>Legenda</p>
        </div>
        <div>
            <img src="../images/prato03.jpg">
            <p>Legenda</p>
        </div>
        <div>
            <img src="../images/prato02.jpg">
            <p>Legenda</p>
        </div>
        <div>
            <img src="../images/prato01.jpg">
            <p>Legenda</p>
        </div>
        <div>
            <img src="../images/prato03.jpg">
            <p>Legenda</p>
        </div>
        <div>
            <img src="../images/prato01.jpg">
            <p>Legenda</p>
        </div>
        <div>
        <img src="../images/prato03.jpg">
            <p>Legenda</p>
        </div>
        <div>
            <img src="../images/prato02.jpg">
            <p>Legenda</p>
        </div>
        <div class="notice">
            <img src="../images/prato01.jpg">
            <p>Notice</p>
        </div>

    </section>


</body>
</html>